*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-size: cover;
}
:root{
    --myfont: 'Mulish', sans-serif;
    --my-btn-font: 'Montserrant', sans-serif;
    --lg-lightcolor: linear-gradient(to left, rgba(116,235,213,0.6), rgba(159, 172, 230, 0));
    --lg-color: linear-gradient(to left, #74ebd5, #9face6);
}

body{
    background-image: var(--lg-lightcolor), url(images/bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--myfont);
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
}
.container{
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.;
    overflow: hidden;
    width: calc(100vw-65vw);
    max-width: 100%;
    height: 95vh;
    margin-top: 10px;
  
}
.header{
    background: linear-gradient(to left, #74ebd5, #9face6);
    padding: 30px 0;

}
.header h2{
    color: #222;
    font-family: var(--my-btn-font);
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 5px;
}
.form{
    padding-top: 10px;
    margin: 11px
}
.form-control{
    margin-bottom: 25px;
    position: relative;
}
.form-control label{
    font: bold;
    float: left;
  
}
.form-control input{
    width: 100%;
    height: 40px;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    display: block;
    font-family: var(--myfont);
    font-size: 14px;
    
}
.form-control input:focus{
    outline: 0;
    border-color: #777;
}
.form-control.success input{
    border-color: #2ecc71;
}
.form-control.error input{
    border-color: #e74e3c;

}
.form-control i{
    position: absolute;
    right: 12%;
    top: 38px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle{
    color: #2ecc71;
    visibility: visible;


}
.form-control.error i.fa-exclamation-circle{
    color: #e74e3c;
    visibility: visible;

}
.form-control small{
    visibility: hidden;
    color: #e74e3c;
    position: absolute;
    bottom: 0%;
    left: 0%;

}
.form-control.error small{
    visibility: visible;

}
.form .btn{
    background: var(--lg-color);
    border-radius: 6px;
    border: none;
    outline: none;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 15px 0;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    transition: all is ease;
    cursor: pointer;
}
.form .btn:hover{
    background: linear-gradient(to right, #74ebd5, #9face6);

}

@media(max-width:998px){
    .container{
        width: calc(100vw -35vw);
        max-width: 100%;
    }
}